{{#posts}}
        <form action="/posts/{{id}}?_method=DELETE" method="post">
            <a class="waves-effect waves-light btn" href="/posts/update/{{id}}">Edit Post</a>
            <button type="submit" class="btn btn-default red accent-4">Delete Post</button>
        </form>
    <section>
        <div id="author-info">
            <h4>By {{name}}</h4>
            <h4>Posted on {{date_created}}</h4>
        </div>

        <div id="post-body">
            <p>{{body}}</p>
        </div>
    </section>
{{/posts}}
